<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Your News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link " id="save_nav" href="">Saved Articles</a>
            </li>

        </ul>


        <form class="form-inline my-2 my-lg-0">
            <button id="add" class="btn btn-outline-success my-2 my-sm-0" type="submit">Add Articles</button>
            <button id="clear" class="btn btn-outline-danger mx-2 my-2 my-sm-0" type="submit">Clear</button>
        </form>


    </div>
</nav>

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div id="jumbo" class="jumbotron mt-3">
        <div class="container">
            <h1 class="display-3">Mongo Scraper</h1>
            <h3> New York Times Edition</h3>

            <p><a class="btn btn-primary btn-lg my-5" href="https://github.com/christopher73/news_app"
                    role="button">Check
                    the GitHub code </a></p>
        </div>
    </div>



    <div class="container" id="articles"></div>



    <!-- Example row of columns -->
    {{!-- <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
        </div> --}}

    <hr>

    <!-- /container -->

</main>

<footer class="container">
    <p>© Company 2017-2019</p>
</footer>